.info-panel{

position:fixed;

top:50%;

right:40px;

transform:translateY(-50%);

width:380px;

padding:40px;

background:

rgba(255,255,255,.1);

backdrop-filter:blur(20px);

border:

1px solid rgba(255,255,255,.2);

border-radius:30px;

color:white;

z-index:1000;

}

.info-panel h1{

font-size:40px;

margin-bottom:20px;

}

.info-panel h2{

margin-top:25px;

color:#00d9ff;

}

.info-panel li{

margin-top:10px;

}

.close-btn{

position:absolute;

right:20px;

top:20px;

background:none;

border:none;

font-size:30px;

color:white;

cursor:pointer;

}